* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #aabbcc;
    background-color: #08080F;
}

canvas {
    width: 100%;
}

#channels {
    left: 0;
    right: 0;
    bottom: 0;
    top: 256px;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #1f253d;
    background-image: linear-gradient(rgba(0, 0, 0, .125) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, .125) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
}

#channels canvas {
    height: 0;
    flex-grow: 1;
}

#channels canvas:first-child {
    margin-top: 8px;
    margin-bottom: 4px;
}

#channels canvas:last-child {
    margin-top: 4px;
    margin-bottom: 8px;
}

#covers {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    justify-content: center;
}

#covers img {
    cursor: pointer;
    transform: scale(0.9);
    transition-duration: 0.4s;
}

#covers img:hover {
    transform: scale(1);
}
